$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$primary-font: "Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;


//Colors
$gold: #D5966C;
$almost-black: #151515;
$dark-grey: #444444;
$white: #ffffff