.container {
    padding-left: 16px;
    padding-right: 16px;

    @include breakpoint(tablet) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint(desktop) {
        padding-left: 165px;
        padding-right: 164px;
    }
}